.recipe{
   border: 10px;
   box-shadow: 0px 5px 20px gray; 
   margin:20px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   background: white;
   align-items: center ;
   min-width: 40%;

}

.image{
    border-radius: 80%;
    /* width: 50px;
    height:50px; */
    margin-bottom: 40px;

}